@media (max-width:767px) {
    .navbar-brand>img {
        margin-top: 15px;
    }
    .navbar {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .navbar {
        text-align: center;
        color: red;
        font-size: 14px;
        width: 100%;
        display: table;
        margin: 0 auto;
    }
    .navbar-nav>li {
        padding: 15px 0px;
        text-align: center;
    }
    .navbar-nav>li .header .navbar .nav li a:hover {
        color: #fff;
        transition: all 0.5s ease-in-out;
    }
    .navbar .navbar-brand {
        color: #000000;
        font-size: 18px;
    }
    .navbar-collapse {
        overflow-y: visible !important
    }
    .navbar .navbar-brand:hover {
        color: #000000;
    }
    .navbar .navbar-brand .navbar .navbar-toggle {
        float: left;
        border-radius: 0;
        color: #fff;
        border: 0;
    }
    .navbar .btn {
        background-color: #fff;
        color: #000;
        text-align: center;
        margin-left: 30px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        text-align: center;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: none;
    }
    .navbar-inverse .navbar-brand {
        margin-left: 11px;
    }
    .header {
        text-align: center;
    }
    .navbar-collapse {
        box-shadow: none;
        border: 0px !important;
    }
    .nav>li>a {
        font-size: 16px;
    }
    .edit-icon {
        margin-top: -40px;
    }
    .edit-icon li a {
        color: #fff
    }
    .navbar-nav {
        padding-top: 30px;
    }
    .navbar-right {
        margin-right: 0px;
    }
    .navbar-collapse {
        padding-right: 0px;
    }
    .navbar-default .navbar-toggle {
        border: 0px;
        outline: none
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #D7B45A
    }
    .top-header .navbar-nav>li:nth-child(odd) {
        background-color: #262A42;
    }
    .top-header .navbar-nav>li:nth-child(even) {
        background-color: #23263E;
    }
    .top-header .navbar-right .dropdown-menu {
        background-color: transparent;
        left: auto
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff
    }
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 25px 0px;
    }
    .top-header .content button {
        left: 90px;
    }
    .top-header .content .fa {
        right: 90px;
    }
    .top-header {
        background-size: cover
    }
    .top-footer {
        text-align: center;
    }
    .top-footer .logo img {
        display: table;
        margin: auto;
        margin-bottom: 30px;
    }
    .top-footer .second .right,
    .top-footer .second .left {
        float: none
    }
    .toppest .edit-icon li a {
        color: #000
    }
    .toppest .navbar-default .navbar-toggle .icon-bar {
        background-color: #000
    }
    .toppest .navbar-nav>li:nth-child(odd) {
        background-color: #262A42;
    }
    .toppest .navbar-nav>li:nth-child(even) {
        background-color: #23263E;
    }
    .toppest .navbar-default .navbar-nav>li>a {
        color: #fff
    }
    .mailing-list .parent {
        display: block;
    }
    .mailing-list {
        text-align: center;
    }
    .mailing-list .parent .last-child {
        margin-right: 0px;
    }
    .bottom-footer {
        text-align: center;
    }
    .bottom-footer .right,
    .bottom-footer .left {
        float: none;
    }
    .navbar-toggle {
        background-color: #D7B45A;
    }
    .edit-icon input {
        height: 54px;
        border-radius: 5px;
        border: 1px solid #EBEBEB;
        width: 290px;
        height: 40px;
        display: block;
        padding-right: 10px;
        transition: all .3s ease-in-out;
        color: #000
    }
    .edit-icon input:focus {
        outline: none;
        border: 1px solid #D7B45A;
    }
    .edit-icon button {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: transparent;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 0px;
        color: #fff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
     .edit-icon button .fa{
         color:#ccc;
     }
    .offers .photo img {
        display: table;
        margin: auto;
    }
    .product .photo img,.featured_product .owl-carousel .owl-item img {
        height: 150px;
    }
    .top-footer .first {
        min-height: 200px;
    }
    .edit-icon li:first-of-type {
        position: relative;
    }
    .pagination-slider .owl-carousel .owl-controls .owl-nav .owl-prev,
    .pagination-slider .owl-carousel .owl-controls .owl-nav .owl-next {
        display: none !important;
    }
    .breadcrumb .right,
    .breadcrumb .left {
        float: none;
    }
    .search-results .image-banner img {
        display: table;
        margin: auto;
    }
    .filter-name .select2-hidden-accessible {
        position: static !important;
    }
    .TheNewAccount .all {
        padding: 15px;
    }
    .edit_data .right_data .list-inline {
        margin-bottom: 30px;
    }
    .product .photo {
        width: 100%;
        height: auto;
    }
    .edit-icon li:nth-of-type(3) span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #D7B45A;
        border: 1px solid #D7B45A;
        color: #fff;
        position: absolute;
        top: 19px;
        text-align: center;
        line-height: 20px;
        font-size: 9px;
        left: 190px;
    }
    .navbar-brand>img {
        margin-top: 0px;
        max-width: 120px;
    }
    .breadcrumb {
        margin-top: 0px;
    }
    .slider{
        padding-top:0px;
    }
    .top-header .right,.top-header .left{
        float:none;
    }
     .top-header{
         text-align:center;
     }
     .ShoppingTable .TheAccount .header{
         margin-bottom:0px;
     }
     .ShoppingTable .TheAccount button{
         padding:10px 25px;
     }
     .ShoppingTable .cobon{
         margin-top:150px;
     }
     .table>tbody>tr>td{
         padding:20px 10px;
     }
     .count-input input,.count-input{
         width:auto;
     }
     .top-header .left{
         display:none;
     }
     .TheProductInfo .upper{
         height:360px;
     }
     .TheProductInfo .upper img{
         max-width:95%;
     }
     .TheProductInfo .ProductNumbers p{
         display:none;
     }
}

@media(max-width:425px) {
    .edit-icon input {
        width: 150px;
    }
    .product .info {
        text-align: center;
    }
    .product .info .right,
    .product .info .left {
        float: none;
    }
    .product .info {
        padding-bottom: 5px;
    }
    .mailing-list .parent .last-child input {
        padding-left: 130px;
    }
    .mailing-list .parent .last-child button {
        margin-top: 30px;
    }
    .brands .nav>li>a {
        padding: 0px;
    }
    .sucess_process ul li a {
        display: table;
        margin-bottom: 30px;
    }
    .navbar-brand>img {
        max-width: 100px;
    }
    .edit-icon input {
        margin-right: -20px;
    }
    .edit-icon li:nth-of-type(3) span {
        left: 110px;
    }
    .TheProductInfo .ProductNumbers .love{
        margin-top:0px;
        margin-bottom:0px;
    }
    .TheProductInfo .ProductNumbers{
        padding:10px;
    }
}
@media(max-width:420px) {
     .edit-icon input {
        width: 140px;
    }
}
@media(max-width:375px) {
    .edit-icon input {
        width: 140px;
    }
    .top-header {
        text-align: center;
    }
    .top-header .right,
    .top-header .left {
        float: none;
    }
    .product .photo img {
        max-height: 150px;
    }
    .TheProductInfo .ProductNumbers .adding {
        display: inline-block
    }
    .navbar-brand>img {
        max-width: 90px;
    }
    .edit-icon input {
        width: 110px;
    }
    .banners {
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .TheProductInfo .ProductNumbers .define,
    .TheProductInfo .ProductNumbers .love {
        margin-right: 0px;
    }
    .product .info .left .fa{
        font-size:14px;
    }
}
@media(max-width:363px) {
    .edit-icon input{
        width:95px;
    }
}

@media (min-width:700px) and (max-width:767px) {}

@media (min-width:600px) and (max-width:699px) {}

@media (min-width:570px) and (max-width:599px) {}

@media (min-width:500px) and (max-width:569px) {}

@media (min-width:450px) and (max-width:499px) {}

@media (max-width:507px) {}

@media (max-width:321px) {}

@media (min-width:852px) and (max-width:991px) {}

@media (min-width:992px) and (max-width:1199px) {}

@media (min-width:1200px) {}

@media (min-width:768px) and (max-width:991px) {}

@media (min-width:992px) and (max-width:1999px) {}

@media (min-width:1200px) {}