

.navbar-left{
    float: right !important;
}
.navbar-right{
    float: left !important;
}
.navbar-right{
   margin-left: 15px;
    
}
.navbar-left input{
    padding-right:0px;
    padding-left:10px;
}
.navbar-left button{
    left:auto;
    right:0px;
}
.navbar-left li:nth-of-type(2){
    margin-right:0px;
    margin-left:50px;
}
.nav>li>a{
    padding:17px 13px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    right:-10px;
    left:auto;
}
.product .brand-name{
    right:auto;
    left:10px;
}
.offers .right{
    float:left;
}
.offers .left{
    float:right;
}
