@font-face {
    font-family: Almarai-bold;
    src: url('../fonts/Almarai-Bold.ttf');
}

@font-face {
    font-family: Almarai-Regular;
    src: url('../fonts/Almarai-Regular.ttf');
}

body {
    font-family: Almarai-Regular !important;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #D7B45A;
    outline: 1px solid #D7B45A;
    border-radius: 20px;
}

::selection {
    background: #D7B45A;
    /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: #D7B45A;
    /* Gecko Browsers */
    color: #fff;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: Almarai-bold !important;
}

.form-control,
.form-control:focus {
    box-shadow: none;
    outline: 0;
}

.btn,
.btn:focus {
    box-shadow: none;
    outline: 0;
}

.top-header {
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 10px;
}

.top-header .right {
    float: right;
}

.top-header .left {
    float: left;
}

.top-header .right span {
    color: #707070;
    font-size: 14px;
    font-family: Almarai-bold;
}

.top-header .right .dropdown a {
    color: #fff;
    font-size: 14px;
    font-family: Almarai-bold;
    text-align: center;
}

.top-header .right .dropdown-menu {
    background-color: #D7B45A
}

.top-header .right .dropdown-menu {
    left: 0;
    right: auto;
    top: 25px;
    min-width: 90px;
}

.top-header .right .dropdown-menu>li>a:hover,
.top-header .right .dropdown-menu>li>a:focus {
    background-color: transparent
}

.top-header .left {
    margin-top: 3px;
}

.top-header .left li {
    padding-left: 25px;
}

.top-header .left .fa {
    color: #D7B45A;
    font-size: 18px;
    transition: all .3s ease-in-out;
}

.top-header .left .fa:hover {
    color: #D7B45A
}

.top-header .right .select2-container {
    direction: rtl
}

.top-header .right .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0px;
}

.top-header .right .select2-selection__rendered span {
    color: #fff !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #D7B45A transparent transparent transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 0px;
    left: -10px;
    right: auto;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #D7B45A
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #D7B45A
}

.select2-container--default .select2-results>.select2-results__options {
    direction: rtl
}

.select2-results__options {
    border: 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px;
}


/*start nav*/

.navbar-default {
    margin-bottom: 0;
    padding-top: 25px;
    border: 0;
    background-color: #fff;
    box-shadow: none
}

.nav>li>a {
    font-size: 16px;
    display: inline-block;
    padding: 17px 15px;
    font-family: Almarai-bold !important;
    padding-bottom: 30px;
}

.navbar .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #1B1B1B;
}

.navbar-default .navbar-nav>li>a>i {
    padding-left: 8px;
}

.navbar-default .navbar-nav>.active>a {
    color: #D7B45A;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #D7B45A;
    background-color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-toggle {
    border: none;
    margin-top: 20px;
}

.navbar-toggle:hover {}

.navbar-default .navbar-nav>.active>a {}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
}

.top-nav-collapse {
    padding: 0;
    background-color: transparent
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #464650;
}

.navbar-left>li {
    padding-left: 0;
    padding-right: 0;
}

.navbar-right {
    margin-right: 30px;
}

.navbar-default .child a {
    color: #01A1C5 !important
}


/*end nav*/

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #D7B45A;
}

.navbar-left input {
    height: 54px;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    width: 260px;
    height: 40px;
    display: block;
    padding-right: 10px;
    transition: all .3s ease-in-out;
    color: #000
}

.navbar-left input:focus {
    outline: none;
    border: 1px solid #D7B45A;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-left {
    margin-top: 5px;
}

.navbar-left ul li:first-of-type {
    position: relative;
}

.navbar-left button {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #D7B45A;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 0px;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navbar-left li:nth-of-type(2) {
    margin-right: 50px;
    margin-top: -5px;
}

.navbar-left li:nth-of-type(3) {
    margin-top: -5px;
}

.navbar-left li:last-of-type {
    margin-top: -5px;
}

.slider img {
    width: auto;
    max-width: 100%;
}

.slider .owl-carousel .owl-controls .owl-dot {
    position: relative;
    top: -40px;
}

.slider .owl-theme .owl-dots .owl-dot span {
    background-color: rgba(255, 255, 255, .5);
}

.slider .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #fff;
}

.banners {
    padding-top: 30px;
    padding-bottom: 50px;
}

.banners .first img {
    max-width: 100%;
}

.brands {
    padding-bottom: 50px;
}

.brands .title {
    color: #1B1B1B;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    margin-bottom: 30px;
}

.brands .title:before {
    content: '';
    background-color: #D7B45A;
    position: absolute;
    width: 238px;
    height: 7px;
    bottom: 0px;
}

.brands .nav-tabs>li {
    display: inline-block;
}

.brands .nav-tabs {
    width: 100%;
    border: 0px;
    margin-top: 0px;
}

.brands .list-inline {
    margin: 0px
}

.brands .nav-tabs li {
   
    text-align: center;
    padding: 0px;
    border: 3px solid transparent;
}

.brands .nav-tabs li a {
    text-align: center;
    color: #0F2557;
    display:block;
    border: 0px;
    border: 3px solid transparent;
    margin: 0px;
    width: 100%;
    transition: all .3s ease-in-out;
}

.brands .nav>li>a:hover,
.brands .nav>li>a:focus {
    background-color: transparent;
}

.brands .nav-tabs li.active>a,
.brands .nav-tabs li.active>a:hover,
.brands .nav-tabs li.active>a:focus {
    border: 0px;
    border: 3px solid #D7B45A;
}

.brands .nav li a img {
    width: 100%;
    object-fit: contain;
    height:110px;
}

.brands .nav li a {
    
}

.product {
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .2);
    margin-top: 30px;
    position: relative;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
}

.product:hover {
    border: 2px solid #E8B236;
    box-shadow: none;
}

.product .brand-name {
    background-color: #E8B236;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    width: 82px;
    height: 30px;
    position: absolute;
    left: 10px;
    color: #fff;
    font-size: 12px;
    bottom: 10px;
    
}

.product .photo {
     position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 0px !important;
}

.product .photo:hover img {
    transform: scale(1.2);
}

.product img {
    width: 100%;
    transition: all .3s ease-in-out;
    height:250px;
}

.product .info {
    padding: 0px 10px 25px 10px;
}

.product .info .name {
    color: #787878;
    font-size: 16px;
    margin-bottom: 14px;
}

.product .info .right {
    float: right;
}

.product .info .right .price {
    color: #1B1B1B;
    font-size: 16px;
    display:inline-block;
}

.product .info .left {
    float: left;
}

.product .info .left .fa {
    color: #ccc;
    font-size: 16px;
}

.product .info .left ul {
    display: inline-block
}

.product .info .left li {
    padding-right: 0px;
    padding-left: 0px;
}

.product .info .left .active {
    color: #D7B45A;
}

.product .info .left span {
    color: #787878;
    padding-right: 5px;
    font-size: 14px;
}

.product .info .actions {
    margin-top: 5px;
}

.product .info .actions li:first-of-type button {
    background-color: #D7B45A;
    border-radius: 5px;
    border: 1px solid #D7B45A;
    color: #fff;
    padding: 7px 15px;
    font-size: 14px;
    font-family: Almarai-bold !important
}

.product .info .actions li:last-of-type button {
    background-color: transparent;
    color: #D7B45A;
    border: 0px;
    font-size: 20px;
}

.brands .watching {
    display: table;
    margin: auto;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    color: #fff;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 50px;
    font-size: 17px;
    transition: all .3s ease-in-out;
}

.brands .watching:hover {
    background-color: transparent;
    color: #000;
}

.offers {
    background-color: #F8F8F8;
    padding-top: 50px;
    padding-bottom: 50px;
}

.offers .photo {
    margin-top: 20px;
}

.offers .photo img {
    max-width: 100%;
}

.offers .title {
    color: #1B1B1B;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    margin-bottom: 30px;
}

.offers .title:before {
    content: '';
    background-color: #D7B45A;
    position: absolute;
    width: 238px;
    height: 7px;
    bottom: 0px;
}

.offers .right {
   float:none;
}

.offers .left {
    float:none;
    margin-top: 10px;
}

.offers .left p {
    font-size: 24px;
    color: #D7B45A;
}

.offers .left span {
    color: #707070
}

.featured_product {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative
}

.featured_product .title {
    color: #1B1B1B;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
    margin-bottom: 30px;
}

.featured_product .title:before {
    content: '';
    background-color: #D7B45A;
    position: absolute;
    width: 238px;
    height: 7px;
    bottom: 0px;
}

.featured_product .owl-carousel .owl-item img {
    width: 100%;
    max-width: 100%;
    height: 255px;
}

.featured_product .owl-theme .owl-controls .owl-nav [class*=owl-] {
    background-color: #D7B45A;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    padding: 0px;
}

.featured_product .owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 50px;
    top: -85px;
}

.featured_product .owl-carousel .owl-controls .owl-nav .owl-next {
    left: 0px;
    top: -85px;
}

.featured_product .owl-carousel .owl-controls .owl-nav .owl-next,
.featured_product .owl-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
}

.mailing-list {
    background-color: #D7B45A;
    padding-top: 40px;
    padding-bottom: 40px;
}

.mailing-list .parent {
    display: flex;
    flex-wrap: nowrap;
}

.mailing-list .parent .first-child h1 {
    color: #fff;
    font-size: 30px;
}

.mailing-list .parent .first-child {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
}

.mailing-list .parent .last-child {
    margin-right: 120px;
    margin-top: 25px;
}

.mailing-list .parent .last-child input {
    height: 40px;
    padding-left: 230px;
    border: 1px solid #fff;
    padding-right: 10px;
}

.mailing-list .parent .last-child input:focus {
    outline: none;
}

.mailing-list .parent .last-child button {
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: -5px;
}

.top-footer {
    background-color: #000;
    padding-top: 40px;
    padding-bottom: 40px;
}

.top-footer .logo img {
    display: table;
    margin: auto;
}

.top-footer .logo p {
    color: rgba(255, 255, 255, .3);
    text-align: center;
    line-height: 30px;
    padding-top: 15px;
}

.top-footer .first {
    margin-top: 45px;
}

.top-footer .first h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 17px;
}

.top-footer .first ul li {
    padding-bottom: 15px;
}

.top-footer .first ul li a {
    color: rgba(255, 255, 255, .3);
    font-size: 15px;
    transition: all .3s ease-in-out;
}

.top-footer .first ul li a:hover {
    color: #fff
}

.bottom-footer {
    background-color: #000;
    padding-top: 15px;
    padding-bottom: 5px;
}

.bottom-footer .right {
    float: right;
}

.bottom-footer .left {
    float: left
}

.bottom-footer p {
    color: #fff;
}

.bottom-footer .left a {
    color: #D7B45A
}

.breadcrumb {
    background-color: #F7F7F7;
    padding-top: 5px;
    padding-bottom: 5px;
}

.breadcrumb .title {
    color: #1B1B1B;
    font-size: 18px;
}

.breadcrumb a {
    color: rgba(27, 27, 27, .2);
    transition: all .3s ease-in-out;
}

.breadcrumb a:hover {
    color: #1B1B1B;
}

.content_pages {
    padding-top: 50px;
    padding-bottom: 50px;
}

.content_pages img {
    display: table;
    margin: auto;
}

.content_pages .words {
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 15px;
    padding-bottom: 30px;
    margin-top: 30px;
}

.content_pages .words p {
    text-align: center;
    color: #1B1B1B;
    font-size: 16px;
    line-height: 35px;
}

.breadcrumb .right {
    float: right;
}

.breadcrumb .left {
    float: left;
    margin-top: 10px;
}

.breadcrumb .left span {
    color: #D7B45A;
    padding-left: 10px;
}

.breadcrumb .select2-container {
    width: 115px !important;
    direction: rtl;
    margin-top: 15px;
}

.breadcrumb .select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 15px;
}

.brands .pagination-slider {
    text-align: center;
    padding-top: 40px;
}

.brands .pagination-slider .box ul li {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #3D3D3D
}

.brands .pagination-slider .box ul li a {
    color: #1B1B1B;
}

.pagination-slider .owl-theme .owl-controls .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 300ms;
    padding: 0px;
    width: 31px;
    height: 31px;
    margin: 0px;
    line-height: 31px;
    border: 1px solid #CBCBCB;
    background-color: #CBCBCB;
    color: #fff
}

.pagination-slider .owl-carousel .owl-controls .owl-nav .owl-prev {
    right: 400px;
    top: 15px;
}

.pagination-slider .owl-carousel .owl-controls .owl-nav .owl-next {
    left: 400px;
    top: 15px;
}

.finishing {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.finishing span {
    color: #707070;
}

.finishing p {
    font-size: 24px;
    color: #D7B45A;
}

.search-results {
    padding-top: 40px;
    padding-bottom: 40px;
}

.search-results .filtering {
    border-radius: 5px;
    border: 1px solid #CBCBCB;
    background-color: #fff
}

.search-results .filtering .define {
    background-color: #0F2557;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #fff;
    padding: 20px;
}

.search-results .filtering .define span {
    font-size: 16px;
    padding-right: 5px;
}

.search-results .filtering .filter-name {
    padding: 20px;
    border-bottom: 1px solid #E9E9E9;
}

.search-results .filtering:last-child {
    border-bottom: 0px;
}

.search-results .filtering .filter-name .title {
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.search-results .filtering .filter-name .title .drop {
    position: absolute;
    left: 0;
    top: 10px;
}

.search-results .filtering .filter-name .title span {
    font-size: 18px;
    padding-right: 5px;
    color: #1B1B1B;
}


/* check box */

.search-results input[type=checkbox]+label {
    display: block;
    margin-right: 0px;
    cursor: pointer;
    padding: 0.2em;
    color: #707070;
}

.search-results input[type=checkbox] {
    display: none;
}

.search-results .choosing input[type=checkbox]+label:after {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.4em;
    margin-left: 0.9em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.search-results .choosing input[type=checkbox]+label:active:after {
    transform: scale(0);
}

.search-results .choosing input[type=checkbox]:checked+label:after {
    background-color: #fff;
    border-color: #D7B45A;
    color: #D7B45A;
}

.search-results .select2-container {
    direction: rtl;
}

.search-results .select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 15px;
}

.search-results .image-banner {
    margin-top: 40px;
}

.search-results .image-banner img {
    max-width: 100%;
}

.search-results .press_on {
    padding-bottom: 20px;
}

.search-results .press_on .right {
    float: right;
}

.search-results .press_on .left {
    float: left
}

.search-results .press_on button {
    background-color: transparent;
    border: 0px;
}

.search-results .press_on .right button {
    color: #1B1B1B;
    font-size: 17px;
}

.search-results .press_on .left button {
    color: #D7B45A;
    font-size: 17px;
}

.LoginAndCreat {
    background-color: #f8f8f8;
}

.LoginAndCreat .large {
    background-color: #fff;
    border: 1px solid #cacaca;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.LoginAndCreat .large .right .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
}

.LoginAndCreat .large .right .header h1 {
    font-size: 22px;
    color: #000;
}

.LoginAndCreat .large .right .fa {
    font-size: 10px;
    vertical-align: super;
    color: #ef0739;
}

.LoginAndCreat .large .right label {
    padding-bottom: 10px;
}

.LoginAndCreat .large .right input {
    height: 55px;
    margin-bottom: 10px;
}

.LoginAndCreat .large .right input:focus {
    border: 1px solid #D7B45A;
}

.LoginAndCreat .large .right a {
    text-decoration: underline !important;
}

.LoginAndCreat .large .right button {
    margin-top: 20px;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    text-align: center;
    color: #fff;
    border: 0px;
    height: 55px;
    transition: all .3s ease-in-out;
}

.LoginAndCreat .large .right button:hover {
    background-color: transparent;
    border: 1px solid #D7B45A;
    color: #000;
}

.LoginAndCreat .large .left .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 53px;
}

.LoginAndCreat .large .left .header h1 {
    font-size: 22px;
    color: #000;
}

.LoginAndCreat .large .left .new1 {
    display: block;
    width: 100%;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    height: 55px;
    text-align: center;
    color: #fff;
    line-height: 55px;
    margin-bottom: 45px;
    transition: all .3s ease-in-out;
}

.LoginAndCreat .large .left .new1:hover {
    background-color: transparent;
    border: 1px solid #D7B45A;
    color: #000;
}

.LoginAndCreat .large .left .new2 {
    display: block;
    width: 100%;
    background-color: #3b5998;
    height: 55px;
    text-align: center;
    color: #fff;
    line-height: 55px;
    margin-bottom: 49px;
}

.LoginAndCreat .large .left .new3 {
    display: block;
    width: 100%;
    background-color: #dc4e41;
    height: 55px;
    text-align: center;
    color: #fff;
    line-height: 55px;
}

.LoginAndCreat .large .left .fa {
    font-size: 18px;
}


/* start of section new account */

.TheNewAccount {
    background-color: #f8f8f8;
}

.TheNewAccount .all {
    background-color: #fff;
    border: 1px solid #cacaca;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.TheNewAccount .all .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 40px;
}

.TheNewAccount .all .header h1 {
    font-size: 22px;
}

.TheNewAccount .all label {
    padding-bottom: 10px;
}

.TheNewAccount .all input {
    height: 55px;
    margin-bottom: 10px;
}

.TheNewAccount .all input:focus {
    border: 1px solid #D7B45A;
}

.TheNewAccount .all .fa {
    font-size: 10px;
    vertical-align: super;
    color: #ef0739;
}

.TheNewAccount .all button {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 100px;
    text-align: center;
    color: #fff;
    border: 0px;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    font-size: 17px;
    transition: all .3s ease-in-out;
}

.TheNewAccount .all button:hover {
    background-color: transparent;
    color: #000;
    border: 1px solid #D7B45A;
}


/* end of section new account */


/* start of section of contact */

.contact {
    background-color: #f8f8f8;
    padding-top: 20px;
    padding-bottom: 50px;
}

.contact .header {
    border-right: 2px solid #000;
    padding-right: 10px;
}

.contact h1 {
    margin-bottom: 40px;
}

.contact .rightdata {
    margin-top: 20px;
}

.contact .rightdata input {
    height: 50px;
    margin-bottom: 15px;
}

.contact .rightdata input:focus {
    border: 1px solid #D7B45A;
}

.contact .rightdata label {
    font-size: 16px;
}

.contact .rightdata label .fa {
    font-size: 8px;
    vertical-align: super;
    color: #ef0739;
}

.contact .rightdata button {
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    text-align: center;
    padding: 15px 60px;
    border: 0px;
    color: #fff;
    transition: all .3s ease-in-out;
}

.contact .rightdata button:hover {
    background-color: transparent;
    border: 1px solid #D7B45A;
    color: #000;
}

.contact textarea {
    margin-bottom: 20px;
    margin-top: 15px;
}

.contact textarea:focus {
    border: 1px solid #D7B45A;
}

.contact .leftdata h1 {
    margin-bottom: 10px;
}

.contact .leftdata .header {
    border-right: 0px solid #000;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.contact .leftdata p {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #c0c0c0;
}

.contact .leftdata .fa {
    font-size: 20px;
    padding-left: 20px;
    color: #4a4a4a;
    padding-bottom: 20px;
}

.contact .leftdata span {
    color: #4a4a4a;
}


/* end of section of contact */


/* start of section of payment details */

.PaymentDetails {
    padding-top: 30px;
    padding-bottom: 60px;
}

.PaymentDetails .header {
    padding-bottom: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 40px;
}

.PaymentDetails .header h1 {
    font-size: 25px;
}

.PaymentDetails .right label {
    color: #b9b9b9;
    padding-bottom: 15px;
}

.PaymentDetails .right .fa {
    font-size: 10px;
    vertical-align: super;
    color: #ef0739;
}

.PaymentDetails .right input {
    margin-bottom: 15px;
}

select,
select.form-control {
    background: #fff url(../images/down.png) no-repeat 10px 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    box-shadow: none;
    margin-bottom: 15px;
    height: 45px;
}

.PaymentDetails .right textarea {
    margin-bottom: 15px;
}

.PaymentDetails .firstChild {
    margin-bottom: 40px;
}

.PaymentDetails .firstChild .photo {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.PaymentDetails .firstChild .photo img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 70px;
    height: 70px;
}

.PaymentDetails .firstChild .photo span {
    position: absolute;
    right: 80%;
    top: -10%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #D7B45A;
}

.PaymentDetails .left p {
    color: rgba(27, 27, 27, .5);
    font-size: 11px;
    font-weight: bold;
}

.PaymentDetails .total {
    margin-top: 20px;
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.PaymentDetails .total p {
    font-size: 18px;
}

.PaymentDetails button {
    border: 0px;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.PaymentDetails button:hover {
    background-color: transparent;
    color: #D7B45A;
}

.PaymentDetails button:focus {
    border-radius: 5px;
}

.PaymentDetails .select2-container {
    direction: rtl;
    margin-bottom: 15px;
}

.PaymentDetails .select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 15px;
    top: 10px;
}

.PaymentDetails .select2-container--default .select2-selection--single {
    height: 45px;
}

.PaymentDetails .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
}


/* end of section of payment details */

.sucess_process {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.sucess_process .true .fa {
    background-color: #F8F8F8;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    color: #D7B45A;
    line-height: 200px;
    font-size: 60px;
}

.sucess_process h1 {
    color: #1B1B1B;
    font-size: 28px;
    padding-bottom: 20px;
}

.sucess_process p {
    color: rgba(27, 27, 27, .3);
    padding-bottom: 30px;
}

.sucess_process ul li a {
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    text-align: center;
    padding: 15px 60px;
    border: 0px;
    color: #fff;
}

.sucess_process ul li a:hover {
    background-color: transparent;
    border: 1px solid #D7B45A;
    color: #000;
}


/* start of section ShoppingTable */

.count-input {
    position: relative;
    width: 30%;
    margin: 0;
    margin-bottom: 0px
}

.count-input input {
    width: 100%;
    height: 30px;
    border: 1px solid #b7b7b7;
    border-radius: 0px;
    background: #fff;
    text-align: center;
    color: #000;
}

.count-input input:focus {
    outline: none;
    border: 2px solid #f1cf5a;
}

.count-input .incr-btn {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    top: 25%;
    right: 0;
    margin-top: -15px;
    text-decoration: none;
    font-size: 17px;
    color: #b7b7b7;
}

.count-input .incr-btn:first-child {
    right: auto;
    left: 10%;
    top: 27%;
    font-size: 17px;
    color: #b7b7b7;
}

.count-input.count-input-sm {
    max-width: 125px;
}

.count-input.count-input-sm input {
    height: 36px;
}

.count-input.count-input-lg {
    max-width: 200px;
}

.ShoppingTable {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f8f8;
}

.ShoppingTable .firstChild .photo {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.ShoppingTable .firstChild .photo img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 70px;
    height: 70px;
}

.ShoppingTable table tr td button {
    background-color: transparent;
    border: 0px;
}

.ShoppingTable table thead tr td {
    font-size: 22px;
}

.ShoppingTable tbody {
    font-size: 17px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border: 0;
    vertical-align: middle;
    padding: 20px 0px;
}

.table>tbody>tr {
    border-bottom: 1px solid #b7b7b7
}

.table>thead>tr {
    margin-bottom: 20px;
}

.count-input .incr-btn {
    top: 50%;
}

.count-input .incr-btn:first-child {
    top: 50%;
}

.ShoppingTable .Return {
    padding-top: 20px;
}

.ShoppingTable .Return .right {
    float: right;
}

.ShoppingTable .Return .right a {
    background-color: #fff;
    border: 1px solid #b7b7b7;
    text-align: center;
    padding: 5px 30px;
    border-radius: 10px;
    color: #000;
}

.ShoppingTable .Return .left a {
    background-color: #fff;
    border: 1px solid #b7b7b7;
    text-align: center;
    padding: 5px 30px;
    border-radius: 10px;
    color: #000;
}

.ShoppingTable .Return .left {
    float: left;
}

.ShoppingTable .cobon .header,
.ShoppingTable .TheAccount .header {
    padding-bottom: 20px;
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 20px;
}

.ShoppingTable .TheAccount .header {
    margin-bottom: 50px;
}

.ShoppingTable .cobon .header h1,
.ShoppingTable .TheAccount .header h1 {
    font-size: 24px;
}

.ShoppingTable .cobon label {
    padding-bottom: 10px;
}

.ShoppingTable .cobon input {
    margin-bottom: 30px;
}

.ShoppingTable .cobon button {
    padding: 10px 40px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
}

.ShoppingTable .TheAccount button {
    padding: 10px 65px;
    text-align: center;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    border-radius: 10px;
    margin-top: 10px;
    color: #fff;
}

.ShoppingTable .cobon button:focus {
    border: 1px solid #66afe9;
}

.ShoppingTable .cobon label {
    color: #d2d2d2;
}

.ShoppingTable .cobon {
    margin-top: 50px;
}

.ShoppingTable .TheAccount {
    margin-top: 50px;
}

.ShoppingTable .TheAccount .right {
    float: right;
}

.ShoppingTable .TheAccount .left {
    float: left;
}


/* end of section ShoppingTable */


/* start of section of TheProductInfo */

.TheProductInfo {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f8f8f8;
}

.TheProductInfo .up {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.TheProductInfo .up:last-of-type {
    border: 0px;
}

.TheProductInfo .up span {
    color: #d2d2d2;
    font-size: 12px;
}

.TheProductInfo .information {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.TheProductInfo .image {
    margin-top: 30px;
}

.TheProductInfo .more a {
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #43c3c8;
    color: #fff;
    width: 100%;
    padding: 20px 0px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

.TheProductInfo .more {
    margin-bottom: 30px;
}

.TheProductInfo .product .photo {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    background-color: #fff;
    float: right;
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

.TheProductInfo .product .fa {
    color: #5d5d5d;
}

.TheProductInfo .product .photo img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 70px;
    height: 70px;
}

.TheProductInfo .word {
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

.TheProductInfo .word p {
    margin-top: 5px;
}

.TheProductInfo .upper {
    background-color: #fff;
    position: relative;
    height: 500px;
}

.TheProductInfo .upper img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-width: 100%;
    max-height:380px;
}

.TheProductInfo .upper .fa {
    position: absolute;
    left: 20px;
    font-size: 18px;
    color: #434343;
    top: 20px;
}

.TheProductInfo .SliderProduct {
    margin-top: 30px;
    margin-right: 5px;
}

.TheProductInfo .SliderProduct .box {
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 120px;
}

.TheProductInfo .SliderProduct .box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: table;
    margin: 0 auto;
   max-width:100%;
   height:auto;
}

.TheProductInfo .SliderProduct .owl-carousel .owl-controls .owl-nav .owl-prev,
.TheProductInfo .SliderProduct .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.TheProductInfo .SliderProduct .owl-carousel .owl-controls .owl-nav .owl-prev {
    right: -35px;
}

.TheProductInfo .SliderProduct .owl-carousel .owl-controls .owl-nav .owl-next {
    left: -25px;
}

.TheProductInfo .SliderProduct .owl-theme .owl-controls .owl-nav [class*=owl-] {
    background: transparent;
    color: #ccc;
    font-size: 30px;
}

.TheProductInfo .ProductNumbers {
    padding: 20px;
}

.TheProductInfo .ProductNumbers .fa {
    color: #6f6f6f;
}

.TheProductInfo .ProductNumbers h1 {
    margin-bottom: 10px;
}

.TheProductInfo .ProductNumbers h3 {
    color: #D7B45A;
    font-size: 30px;
}

.TheProductInfo .ProductNumbers p {
    color: #c9c8c8;
    line-height: 2em;
}

.TheProductInfo .ProductNumbers .count-input {
    width: 50%;
}

.TheProductInfo .ProductNumbers .count-input input {
    width: 100%;
    height: 40px;
}

.TheProductInfo .ProductNumbers .count-input .incr-btn {
    top: 50%;
}

.TheProductInfo .ProductNumbers .count-input .incr-btn:first-child {
    top: 50%;
}

.TheProductInfo .ProductNumbers .adding {
    background-color: #D7B45A;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
    margin-bottom: 20px;
}

.TheProductInfo .ProductNumbers .define {
    margin-right: 10px;
}

.TheProductInfo .ProductNumbers .adding .fa {
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
}

.TheProductInfo .ProductNumbers .love {
    background-color: #D7B45A;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
    margin-right: 10px;
}

.TheProductInfo .ProductNumbers .love .fa {
    color: #fff;
    font-size: 16px;
}

.TheProductInfo .ProductNumbers .parent {
    border-top: 1px solid #ccc;
}

.TheProductInfo .ProductNumbers .parent h1 {
    font-size: 18px;
}

.TheProductInfo .ProductNumbers .right {
    float: right;
}

.TheProductInfo .ProductNumbers .social {
    float: left;
}

.TheProductInfo .ProductNumbers .social ul {
    margin-top: 20px;
}

.TheProductInfo .ProductNumbers .social ul li {
    padding-left: 20px;
}

.TheProductInfo .ProductNumbers .social .fa {
    color: #676767;
    font-size: 20px;
}

.TheProductInfo .Tabstypes .nav-tabs {
    width: 100%;
    border-bottom: 2px solid #D7B45A;
    margin-top: 9px;
}

.TheProductInfo .Tabstypes .tab-content {
    background-color: #fff;
    padding: 20px;
}

.TheProductInfo .Tabstypes .nav-tabs>li {
    display: inline-block;
    width: 50%;
    border-radius: 0px;
    border-bottom: 1px solid #D7B45A;
}

.TheProductInfo .Tabstypes .nav-tabs>li>a {
    text-align: center;
    color: #D7B45A;
    font-size: 20px;
    background-color: #fff;
    margin: 0px;
    border-radius: 0PX;
    width: 100%;
}

.TheProductInfo .Tabstypes .nav-tabs>li.active>a,
.TheProductInfo .Tabstypes .nav-tabs>li.active>a:hover,
.TheProductInfo .Tabstypes .nav-tabs>li.active>a:focus {
    background-color: #D7B45A;
    color: #fff;
}

.TheProductInfo .Tabstypes h1 {
    color: #D7B45A;
    margin-bottom: 20px;
    font-size: 25px;
}

.TheProductInfo .Tabstypes .details p {
    color: #d2d2d2;
    font-size: 16px;
    line-height: 2em;
}

.TheProductInfo .detailing .TheName {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.TheProductInfo .detailing .TheName label {
    font-size: 18px;
}

.TheProductInfo .detailing .TheName p {
    padding-right: 60px;
    line-height: 2em;
    color: #d2d2d2;
    font-size: 16px;
}

.TheProductInfo .detailing h4 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.TheProductInfo .detailing .fa {
    color: #b9b9b9;
    font-size: 20px;
    padding-bottom: 10px;
}

.TheProductInfo .detailing .fa:hover {
    color: #00adb5;
}

.TheProductInfo .detailing .comment {
    margin-top: 20px;
    margin-bottom: 20px;
}

.TheProductInfo .detailing .comment label {
    color: #d2d2d2;
}

.TheProductInfo .detailing .name label {
    padding-top: 20px;
    padding-bottom: 10px;
}

.TheProductInfo .detailing .name .fa {
    font-size: 10px;
    vertical-align: super;
    color: #ef0739;
}

.TheProductInfo .detailing button {
    padding: 10px 65px;
    text-align: center;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
}

.count-input input:focus {
    border: 1px solid #00adb5;
}

.rating-stars {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.rating-stars ul>li.star {
    display: inline-block;
}


/* Idle State of the stars */

.rating-stars ul>li.star>i.fa {
    font-size: 15px;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}


/* Hover state of the stars */

.rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* Selected state of the stars */

.rating-stars ul>li.star.selected>i.fa {
    color: #FFCC36;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.TheProductInfo .Tabstypes .description li {
    padding-bottom: 15px;
}

.TheProductInfo .Tabstypes .description label {
    color: #1B1B1B;
    font-size: 17px;
}

.TheProductInfo .Tabstypes .description span {
    color: rgba(27, 27, 27, .5);
    font-size: 15px;
    padding-right: 30px;
}

.modal-body .title {
    text-align: center;
    font-size: 24px;
}

.modal-body h1 {
    font-size: 24px;
}

.ckbox {
    position: relative;
}

.ckbox {
    width: 32%;
    margin-bottom: 0px;
    padding: 0px !important;
}

.ckbox input[type="checkbox"],
.ckbox input[type="radio"] {
    opacity: 0;
    margin: 0px 0 0 6px;
}

.ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #545454;
    font-size: 14px;
    margin-top: 3px;
}

.ckbox label:before {
    content: '';
    top: 4px;
    right: 0px;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    background: none;
    padding: 2px;
}

.ckbox input[type="checkbox"]:checked+label:before,
.ckbox input[type="radio"]:checked+label:before {
    background-color: #D7B45A;
    background-clip: content-box;
}


/* page of my_data */

.edit_data {
    background-color: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 40px;
}

.edit_data .title {
    background-color: #D7B45A;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    margin: 0px;
}

.edit_data .left_data {
    background-color: #fff;
    padding: 20px;
}

.edit_data .left_data label {
    color: #717171;
    font-size: 14px;
}

.edit_data .left_data input {
    border: 1px solid #D7B45A;
    border-radius: 5px;
    height: 50px;
}

.edit_data .left_data select {
    height: 50px;
    border: 1px solid #D7B45A;
    border-radius: 5px;
    width: 100%;
}

.edit_data .left_data .save {
    display: table;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}

.edit_data .left_data .save:hover {
    background-color: transparent;
    color: #D7B45A
}

.edit_data .left_data .cancel {
    height: 50px;
    line-height: 50px;
    background-color: #FF5050;
    border: 1px solid #FF5050;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}

.edit_data .left_data .form-control {
    padding-top: 0px;
    padding-bottom: 0px;
}

.edit_data .left_data .cancel:hover {
    background-color: transparent;
    color: #FF5050
}

.edit_data .right_data .nav-tabs>li {
    display: block;
    text-align: center
}

.edit_data .right_data .nav-tabs {
    width: 100%;
    border: 0px;
    margin-top: 0px;
    text-align: center;
}

.edit_data .right_data .list-inline {
    margin: 0px
}

.edit_data .right_data .nav-tabs>li {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0px;
    border: 0px;
}

.edit_data .right_data .nav-tabs>li>a {
    background-color: #fff;
    text-align: center;
    color: #D7B45A;
    background-color: #fff;
    border: 1px solid #D7B45A;
    margin: 0px;
    width: 100%;
}

.edit_data .right_data .nav-tabs>li:first-of-type>a {
    border-top-right-radius: 5px;
}

.edit_data .right_data .nav-tabs>li:last-of-type>a {
    border-top-left-radius: 5px;
}

.edit_data .right_data .nav-tabs>li.active>a,
.edit_data .right_data .nav-tabs>li.active>a:hover,
.edit_data .right_data .nav-tabs>li.active>a:focus {
    background-color: #D7B45A;
    color: #fff;
    border: 1px solid #D7B45A;
}

.edit_data .right_data .nav-tabs>li.active>a img,
.edit_data .right_data .nav-tabs>li.active>a:hover img,
.edit_data .right_data .nav-tabs>li.active>a:focus img {
    filter: grayscale(100%) brightness(10)
}

.edit_data .right_data .nav>li>a:hover,
.edit_data .right_data .nav>li>a:focus {
    text-decoration: none;
    background-color: #D7B45A;
    color: #fff;
    border: 1px solid #D7B45A;
}

.edit_data .right_data .nav>li>a:hover img,
.edit_data .right_data .nav>li>a:focus img {
    filter: grayscale(100%) brightness(10)
}

.edit_data .right_data {
    position: relative;
}

.edit_data .right_data .img1 {
    position: absolute;
    top: 12px;
    right: 70px;
}

#scroll-up {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 9999;
    cursor: pointer;
    background-color: #51B121;
    border-radius: 50%;
}

#scroll-up a {
    color: #fff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    direction: rtl;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    direction: rtl
}

.edit_data .select2-container--default .select2-selection--single {
    border: 1px solid #D7B45A;
    border-radius: 5px;
    height: 50px;
    padding-top: 10px;
    margin-top: 23px;
}

.datepicker {
    right: auto;
}

.gender {
    padding-right: 10px
}

.edit_data .my_address .radio-button {
    margin-bottom: 30px;
    background-color: #eee;
    padding: 20px;
}

.edit_data .my_address .radio-button__label-wrapper {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    padding-left: 2.5rem;
    position: relative;
    top: 0.25rem;
}

.edit_data .my_address .radio-button__label-wrapper:hover .radio-button__input~.radio-button__custom-indicator {
    border-color: black;
}

.edit_data .my_address .radio-button__label-title {
    margin-bottom: 20px;
    margin-right: 30px;
}

.edit_data .my_address .radio-button__label-subtext {
    display: block;
    font-size: 0.85rem;
    font-style: italic;
    margin-right: 30px;
}

.edit_data .my_address .radio-button__custom-indicator {
    background-color: white;
    border: 1px solid #999;
    border-radius: 50%;
    height: 24px;
    right: 0;
    position: absolute;
    top: 0;
    width: 24px;
}

.edit_data .my_address .radio-button__custom-indicator::after {
    background-color: #D7B45A;
    border-radius: 50%;
    content: "";
    display: none;
    height: 16px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 16px;
}

.edit_data .my_address .radio-button__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.edit_data .my_address .radio-button__input:focus~.radio-button__custom-indicator {
    border-color: black;
}

.edit_data .my_address .radio-button__input:checked~.radio-button__custom-indicator::after {
    display: block;
}

.edit_data .my_address .radio-button__input:disabled~.radio-button__custom-indicator {
    opacity: 0.6;
    pointer-events: none;
}

.edit_data .my_address .titleing {
    font-size: 24px;
    margin-bottom: 30px;
}

.edit_data .my_address .radio-button button {
    float: left;
    background-color: transparent;
    border: 0px;
    color: #DE3737;
    font-size: 22px;
    color: #DE3737;
    position: relative;
    top: -50px;
}

.edit_data .my_address .adding_address {
    display: table;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}

.edit_data .my_address .adding_address:hover {
    background-color: transparent;
    color: #D7B45A
}

.edit_data .data_first .select2-container--default .select2-selection--single {
    margin-top: 0px;
}

.edit_data .data_first h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.edit_data .data_first button {
    display: table;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}

.edit_data .data_first button:hover {
    background-color: transparent;
    color: #D7B45A
}

.hh-grayBox {
    margin-bottom: 20px;
    margin-top: 20px;
}

.pt45 {
    padding-top: 15px;
}

.order-tracking {
    width: 100%;
    position: relative;
    display: block;
}

.order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 0px solid #AFAFAF;
    background-color: #707070;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}

.order-tracking .is-complete:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.order-tracking.completed .is-complete {
    border-color: #D7B45A;
    border-width: 0px;
    background-color: #D7B45A;
}

.order-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}

.order-tracking p {
    color: #A4A4A4;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 20px;
}

.order-tracking p span {
    font-size: 14px;
}

.order-tracking.completed p {
    color: #000;
}

.order-tracking::before {
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 20px);
    background-color: #ccc;
    top: 13px;
    position: absolute;
    right: calc(-98% + 20px);
    z-index: 0;
}

.order-tracking:first-child:before {
    display: none;
}

.order-tracking.completed:before {
    background-color: #ccc;
}

.justify-content-between {
    display: flex;
    flex-wrap: nowrap
}

.my_order_tracking {
    padding: 10px;
}

.order_content .parent {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #F7F7F7;
}

.order_content .parent .first {}

.order_content .parent .first img {
    height: 100%;
    max-width: 100%;
}

.order_content .parent .second {
    margin-right: 10px;
    padding-top: 15px;
}

.order_content .parent .second ul li {
    padding-bottom: 5px;
}

.order_content .parent .second p {
    color: rgba(27, 27, 27, .5);
    font-size: 11px;
    font-weight: bold
}

.order_content .parent .second span {
    color: #1B1B1B;
    font-size: 11px;
    font-weight: bold
}

.my_order_tracking {
    border-bottom: 3px solid #ccc;
    padding-top: 20px;
}

.my_order_tracking:last-child {
    border: 0px;
}

.delivery_address input {
    border: 1px solid #D7B45A;
    border-radius: 5px;
    height: 50px;
}

.delivery_address select,
.TheNewAccount .all select {
    height: 50px;
    border: 1px solid #D7B45A;
    border-radius: 5px;
    width: 100%;
}

.delivery_address .select2-container--default .select2-selection--single {
    border: 1px solid #D7B45A;
    border-radius: 5px;
    height: 50px;
    padding-top: 10px;
}

.TheNewAccount .all .select2-container--default .select2-selection--single {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 55px;
    padding-top: 10px;
    margin-top: 33px;
}

.delivery_address .choosing .select2-container--default .select2-selection--single .select2-selection__arrow {
    left: 15px;
    top: 14px;
}

.charging-to {
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.charging-to .parent {
    display: flex;
    flex-wrap: nowrap;
}

.charging-to .parent h1 {
    color: #1B1B1B;
    font-size: 25px;
    margin: 0px;
}

.charging-to .parent .second {
    margin-right: 15px;
}

.charging-to .parent p {
    color: rgba(27, 27, 27, .3);
    font-size: 18px;
    margin: 0px;
    padding-top: 10px;
}

.method {
    background-color: #F7F7F7;
    border-radius: 5px;
    padding: 10px 20px 5px 20px;
    margin-bottom: 30px;
}

.method .ckbox {
    position: relative;
}

.method .ckbox {
    width: 100%;
    margin-bottom: 13px;
    padding: 0px !important;
}

.method .ckbox input[type="checkbox"],
.ckbox input[type="radio"] {
    opacity: 0;
    margin: 0px 0 0 6px;
}

.method .ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #545454;
    font-size: 14px;
    margin-top: 3px;
    padding-right: 10px;
}

.method .ckbox label:before {
    content: '';
    top: 4px;
    right: 0px;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    background: none;
    padding: 2px;
}

.method .ckbox input[type="checkbox"]:checked+label:before,
.method .ckbox input[type="radio"]:checked+label:before {
    background-color: #f1cf5a;
    background-clip: content-box;
}

.rivision .parent {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #F7F7F7;
    padding: 30px;
    padding-bottom: 20px;
}

.rivision .parent .first img {
    max-width: 100%;
    height: 100%
}

.rivision .parent .second {
    margin-right: 15px;
}

.rivision .parent .second ul li {
    padding-bottom: 5px;
}

.rivision .parent .second p {
    color: rgba(27, 27, 27, .5);
    font-size: 13px;
    font-weight: bold;
    margin-top: 0px;
}

.rivision .parent .second span {
    color: #1B1B1B;
    font-size: 13px;
    font-weight: bold
}

.navbar-left {
    position: relative;
}

.navbar-left li span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #D7B45A;
    border: 1px solid #D7B45A;
    color: #fff;
    position: absolute;
    top: 1px;
    text-align: center;
    line-height: 20px;
    font-size: 9px;
    left: 25px;
}

.navbar-brand>img {
    max-width: 160px;
    margin-top: -30px;
}

.breadcrumb {
    margin-top: 30px;
}

.slider {
    padding-top: 30px;
}